{% extends 'base.html' %} {% load static %} {% block content %}

<h2>This is the Add-Jobs page</h2>
<hr />
<div class="container mt-4">
    <div class="row">
        <div class="col-md-10">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="{% url 'jobs-home' %}">Job Posts</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Edit Job Posts</li>
                </ol>
                </nav> 
        </div>
        <div class="col-md-2">
            <a href="{% url 'delete-job' jobPost.id%}" class="btn btn-danger btn-sm">Delete Job</a>
        </div>
    </div>  
    <div class="card">
        <div class="card-body">
            <form method="post" action="{% url 'edit-job' jobPost.id %}">
                {% include 'partials/_messages.html' %} {% csrf_token %}
                
                <div class="form-group">
                    <label for="">Company Name</label>
                    <input
                    type="text"
                    class="form-control form-control-sm"
                    name="companyName"
                    placeholder="Company"
                    value="{{ values.companyName }}"
                    
                />
                </div>
                <div class="form-group">
                    <label for="">Title</label>
                    <input
                    type="text"
                    class="form-control form-control-sm"
                    name="title"
                    placeholder="Post-Title"value="{{ values.title }}"
                    
                />
                </div>
                <div class="form-group">
                    <label for="">Locations</label>
                    <input
                    type="text"
                    class="form-control form-control-sm"
                    name="locations"
                    placeholder="Locations"
                    value="{{ values.locations }}"
                />
                </div>
                <div class="form-group">
                    <label for="">Salary</label>
                    <input
                    type="text"
                    class="form-control form-control-sm"
                    name="salary"
                    placeholder="Salary"
                    value="{{ values.salary }}"
                />
                </div>
                <div class="form-group">
                    <label for="">Stack</label>
                    <input
                    type="text"
                    class="form-control form-control-sm"
                    name="stack"
                    placeholder="Tech-Stack"
                    value="{{ values.stack }}"
                />
                </div>
                
                <div class="form-group">
                    <label for="">Post Origin</label>
                    <input
                    type="text"
                    class="form-control form-control-sm"
                    name="post_origin"
                    placeholder="Where did you find the post?"
                    value="{{ values.post_origin }}"
                />
                </div>

                <div class="form-group">
                    <label for="">Date of Post</label>
                    <input
                    type="date"
                    class="form-control form-control-sm"
                    name="date"
                    placeholder="Date of Post"
                    value="{{ values.date }}"
                />
                </div>
                <div class="list-group">
                    <label for="">Category</label>
                    <select class="form-control" name="category">
                        <option selected name="category" value="{{ values.category }}">
                        {{ values.category }}</option>

                     {% for category in categories %}

                        <option name="category" value="{{ category.name }}">
                        {{ category.name }}</option>

                     {% endfor %}
                    </select>
                </div>
                <div class="form-group">
                    <label for="">Content</label>
                    <input
                    type="url"
                    class="form-control form-control-sm"
                    name="content"
                    placeholder="Post URL"
                    value="{{ values.content }}"
                />
                </div>
                <input
                    type="submit"
                    value="Update"
                    class="btn btn-primary btn-primary-sm"
                />
            </form>
        </div>
    </div>
</div> 

<a href="{% url 'add-jobs' %}" class="btn btn-primary">Add Job Post</a>

{% endblock content %}
